<div class="navbar-wrapper mb-5">
<div class="navbar w-screen h-12 px-4 mb-4 content-center flex flex-row flex-wrap">
    <a id="branding" class="modak-regular" href="/start-page">Quizmo</a>
    <ul class="flex flex-row items-center">
        <li>
          <a [matMenuTriggerFor]="menu" class="pt-2 rounded-full flex items-center justify-center">
            <mat-icon [matBadge]="1" [matBadgeColor]="'accent'" [matBadgeHidden]="(this.authService.currentUser$ | async) === null" class="text-purple-200">account_circle</mat-icon>
          </a>
          <mat-menu #menu="matMenu" class="menu" [hasBackdrop]="false">
            <div class="login-container" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
              <ng-container *ngIf="(this.authService.currentUser$ | async) as user">
                <h2>User Menu</h2>
                <button mat-menu-item (click)="logout()" class="user-box">
                  <mat-icon>logout</mat-icon>
                  <span>Logout</span>
                </button>
              </ng-container>
              <ng-container *ngIf="!(this.authService.currentUser$ | async)" (click)="$event.stopPropagation()">
                <h2>Login</h2>
                <span id="error" class="text-red-300 text-sm mb-2 block" [hidden]="errorMessage.length === 0">{{errorMessage}}</span>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="user-box">
                    <input id="email" type="email" formControlName="email" required autocomplete="off">
                    <label for="email">Email</label>
                  </div>
                  <div class="user-box">
                    <input id="password" type="password" formControlName="password" required>
                    <label for="password">Password</label>
                  </div>
                  <a href="javascript:void(0)" (click)="onSubmit()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                  </a>
                </form>
              </ng-container>
            </div>
          </mat-menu>
        </li>
      </ul>
</div>
</div>