<div class="question-container">
    <div class="question-header">
      <div class="question-progress">
        <div class="progress-bar">
          <div class="progress-fill" [style.width]="(this.index + 1) / totalQuestions * 100 + '%'"></div>
        </div>
        <div class="progress-text">Question {{ index + 1 }} of {{ totalQuestions }}</div>
      </div>
      
      <div class="timer">
        <div class="timer-icon">
          <mat-icon>timer</mat-icon>
        </div>
        <div class="timer-text">{{ formatTime(timeRemaining) }}</div>
      </div>
    </div>
    
    <div class="question-content">
      <h2 class="question-text">{{ question!.text }}</h2>
      
      <div class="options-grid">
        <div 
          *ngFor="let option of this.question?.options; let i = index" 
          class="option-item"
          [class.selected]="selectedAnswer === option"
          (click)="this.selectOption(option)">
          <div class="option-marker">{{ ['A', 'B', 'C', 'D'][i] }}</div>
          <div class="option-text">{{ option }}</div>
        </div>
      </div>
    </div>
  </div>