<app-nav></app-nav>
<div class="component w-screen">
  <div class="quiz-app">
    <div class="content-area">
      <section class="categories-section">
        <h2 class="section-title">Choose Your Mode</h2>
        <div class="mode-selector">
          <div class="mode-option">
            <input
              type="radio"
              id="singlePlayer"
              name="mode"
              value="single"
              [(ngModel)]="mode"
              (change)="updateGameMode('single')"
            />
            <label for="singlePlayer">
              <mat-icon>person</mat-icon>
              Single Player
            </label>
          </div>
          <div class="mode-option">
            <input
              type="radio"
              id="multiPlayer"
              name="mode"
              value="multi"
              [(ngModel)]="mode"
              (change)="updateGameMode('multi')"
              [disabled]=true
            />
            <label for="multiPlayer">
              <mat-icon>group</mat-icon>
              Multiplayer
            </label>
          </div>
        </div>

        <h2 class="section-title">Choose Your Categories</h2>
        <p class="note">Please select at least one category</p>
        <div class="category-grid">
          @for(category of categories; track category.id) {
            <div class="category-item">
              <input
                type="checkbox"
                [id]="'category-' + category.id"
                [checked]="isCategoryChecked(category)"
                (change)="toggleCategorySelection(category)"
              />
              <label [for]="'category-' + category.id">
                {{ category.name }}
              </label>
            </div>
          }
          
        </div>
        
        
      </section>

      <section class="settings-section">
        <div class="difficulty-selector">
          <h3 class="section-title">Difficulty Level</h3>
          <div class="difficulty-options">
            <div class="difficulty-option">
              <input
                type="radio"
                id="easy"
                name="difficulty"
                value="easy"
                [checked]="difficulty === Difficulty.EASY"
                (change)="updateDifficulty(Difficulty.EASY)"
              />
              <label for="easy">
                <div class="difficulty-meter">
                  <div class="meter-bar"></div>
                  <div class="meter-bar"></div>
                  <div class="meter-bar"></div>
                </div>
                Easy
              </label>
            </div>
            <div class="difficulty-option">
              <input
                type="radio"
                id="medium"
                name="difficulty"
                value="medium"
                [checked]="difficulty === Difficulty.MEDIUM"
                (change)="updateDifficulty(Difficulty.MEDIUM)"
              />
              <label for="medium">
                <div class="difficulty-meter">
                  <div class="meter-bar"></div>
                  <div class="meter-bar"></div>
                  <div class="meter-bar"></div>
                </div>
                Medium
              </label>
            </div>
            <div class="difficulty-option">
              <input
                type="radio"
                id="hard"
                name="difficulty"
                value="hard"
                [checked]="difficulty === Difficulty.HARD"
                (change)="updateDifficulty(Difficulty.HARD)"
              />
              <label for="hard">
                <div class="difficulty-meter">
                  <div class="meter-bar"></div>
                  <div class="meter-bar"></div>
                  <div class="meter-bar"></div>
                </div>
                Hard
              </label>
            </div>
          </div>
        </div>

        <div class="questions-count">
          <h3 class="section-title">Number of Questions</h3>
          <div class="slider-labels">
            <span>5</span>
            <span>25</span>
          </div>
          <input
            type="range"
            min="5"
            max="25"
            [(ngModel)]="questionCount"
            (input)="updateQuestionCount()"
            class="count-slider"
            id="questionCount"
          />
          <div class="count-display" id="countDisplay">
            {{ questionCount }} Questions
          </div>
        </div>
        <button
          class="start-btn"
          id="startBtn"
          [disabled]="!isCategorySelected()"
          (click)="startQuiz()"
        >
          Start Quiz
        </button>
      </section>
    </div>
  </div>
</div>
