/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'tailwindcss';

* {
    --bg-color-dark: #1d093b;
    --medium-purple: #9d6dd1;
    --light-purple: #462d6d;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(#211431, #3a2456);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#211431, #3a2456);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

mat-icon {
    vertical-align: bottom;
    font-size: 30px !important;
    height: fit-content !important;
    width: fit-content !important;

}

.mat-mdc-menu-panel {
    max-width: unset !important;
    box-shadow: none !important;
  }


